.header-panel {
    -fx-font-family: "JetBrains Mono", monospace;
}

#quitAlertYes, #quitAlertNo {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-border-radius: 20 20 20 20;
    -fx-background-radius: 20 20 20 20;
}

#quitAlertYes {
    -fx-background-color: #00b100;
}

#quitAlertYes:hover {
    -fx-background-color: #00e200;
}

#quitAlertNo {
    -fx-background-color: #d62929;
}

#quitAlertNo:hover {
    -fx-background-color: #ea5252;
}