@font-face {
    font-family: VarelaRound;
    src: url('../fonts/VarelaRound-Regular.ttf');
}

.root * {
    /* -fx-font-family: Arial; */
}

.label {
    -fx-font-size: 25px;
    -fx-font-weight: 600;
    -fx-text-fill: #1A3561;
    -fx-text-alignment: center;
}

.button {
    -fx-background-color: #1CB0F6;
    -fx-border-color: transparent;
    -fx-border-radius: 20px;
    -fx-background-radius: 20px;
    -fx-border-width: 0 0 4 0;
    -fx-text-fill: white;
    -fx-cursor: pointer;
    -fx-font-size: 15px;
    -fx-font-weight: 700;
    -fx-padding: 13 0 13 0;
    -fx-effect: dropshadow(gaussian, #1899D6, 0, 1, 0, 5);
}

.button:hover {
    -fx-background-color: derive(#1CB0F6, 10%);
}

.button:pressed {
    -fx-translate-y: 5;
    -fx-effect: none;
}
