#toolBar {
    -fx-background-color:  #014a94;
}

#searchPane {
    -fx-background-radius: 20 20 20 20;
    -fx-border-radius: 20 20 20 20;
    -fx-background-color: white;
}

#searchButton {
    -fx-background-radius: 0 20 20 0;
    -fx-border-radius: 0 20 20 0;
    -fx-background-color: transparent;
}

#searchButton:hover {
    -fx-background-color: rgb(220, 220, 220);
}

#searchText {
    -fx-background-color: transparent;
}

.cell-paste-button {
    -fx-content-display: graphic-only;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-background-color: transparent;
}

.cell-word {
    -fx-background-color: transparent;
}

.list-view .scroll-bar:vertical {
    -fx-scale-x: 0;
    -fx-pref-width: 0;
}