.label {
    -fx-text-fill: black;
    -fx-font-weight: bold;
    -fx-font-size: 14px;
}

.scroll-pane .scroll-bar {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-width: 0;
    -fx-min-width: 0;
}

.command, .command .content {
    -fx-background-color: #f1f2f3;
    -fx-border-color: transparent;
}

.result, .result .content {
    -fx-background-color: transparent;
    -fx-border-color: transparent;
}