@import "../../ConstantValues.css";

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #CC697E;
}

.tab-pane .tab-header-area {
    -fx-padding: 0;
}

.label {
    -fx-font-weight: bold;
    -fx-font-size: 14;
}

.tab-pane .tab {
    -fx-background-color: transparent;
    -fx-opacity: 0.6;
    -fx-scale-x: 0.7;
    -fx-scale-y: 0.7;
}

.tab-pane .tab .hbox .label {
    -fx-pref-width: 0;
}

.tab-pane .tab:hover,
.tab-pane .tab:selected {
    -fx-opacity: 1;
    -fx-scale-x: 1;
    -fx-scale-y: 1;
}

.tab-pane .tab:selected .hbox .label {
    -fx-pref-width: -1;
}

.search-bar {
    -fx-background-radius: 10;
    -fx-background-color: white;
    -fx-border-radius: 10;
    -fx-border-color: -default-stroke-color;
}

.search-bar .text-field,
.search-bar .search-button,
.list-view, .list-view .list-cell,
.list-view *.cell-word,
.list-view *.cell-button {
    -fx-background-color: transparent;
}

.list-view .scroll-bar {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.list-view .list-cell {
    -fx-pref-height: 30;
    -fx-padding: 0 10 0 10;
}

.list-view .list-cell:hover {
    -fx-background-color: #FFC8D1;
    -fx-background-radius: 10;
}

.list-view .list-cell:empty {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
}

.list-view *.cell-icon {
    -fx-fill: transparent;
    -fx-stroke: -default-stroke-color;
    -fx-stroke-line-cap: round;
    -fx-stroke-line-join: round;
    -fx-stroke-width: 2;
}

.list-view *.cell-button:hover *.cell-icon {
    -fx-stroke: derive(-default-stroke-color, 50%);
}

.icon {
    -fx-fill: -default-stroke-color;
}