@import "../../ConstantValues.css";

.description {
    -fx-font-size: 17px;
}

.part-of-speech {
    -fx-font-size: 15px;
    -fx-font-style: italic;
}

.word-flow .button {
    -fx-font-size: 13px;
    -fx-background-radius: 10;
}

.word-flow .level-0 {
    -fx-background-color: #eea1cd;
}

.word-flow .button:hover {
    -fx-text-fill: white;
    -fx-cursor: hand;
}

.word-flow .level-1 {
    -fx-background-color: #f9cee7;
}

.type {
    -fx-font-size: 13px;
    -fx-font-weight: bold;
}