@import "../ConstantValues.css";

.content-pane {
    -fx-background-color: white;
    -fx-background-radius: 20;
}

.content-pane .header-field .label {
    -fx-font-size: 20;
    -fx-font-weight: bold;
}

.description {
    -fx-fill: #646464;
    -fx-font-size: 14;
}