.root {
    -fx-default-color:  #171717;
}

.text-area {
    -fx-background-insets: 0;
    -fx-background-color: transparent;
    -fx-text-fill: white;
    -fx-font-size: 15px;
    -fx-opacity: 1;
}

.text-area .scroll-pane * {
    -fx-background-color: transparent;
}

.text-area .scroll-pane .content .text {
    -fx-text-alignment: center;
}

.stop-button {
    -fx-background-color: #89b4f8;
    -fx-background-radius: 50%;
}

.stop-button.done {
    -fx-border-radius: 50%;
    -fx-border-color: green;
    -fx-border-width: 5px;
}

.stop-button.done .icon {
    -fx-fill: green;
}