@import "../ConstantValues.css";

.root .split-pane-divider {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.button-bar .button {
    -fx-padding: 5 10 5 10;
    -fx-border-radius: 10;
    -fx-background-radius: 20;
}

.button-bar .left-button .icon {
    -fx-stroke: -default-stroke-color;
}

.button-bar .left-button:hover .icon {
    -fx-stroke: derive(-default-stroke-color, 50%);
}

.button-bar .right-button .icon {
    -fx-stroke: white;
}

.left-button {
    -fx-background-color: transparent;
    -fx-padding: 0;
    -fx-alignment: center-left;
}

.delete-button {
    -fx-background-color: red;
}

.edit-button {
    -fx-background-color: #f29c00;
}
.content-tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: -dictionary-toolbar-color;
}

.content-tab-pane .tab {
    -fx-background-color: transparent;

    -fx-border-radius: 0;
    -fx-background-radius: 0;
    -fx-border-width: 0 0 5 0;
    -fx-border-color: transparent;
}

.content-tab-pane .tab:selected {
    -fx-border-color: rgba(255, 255, 255, 0.5);
}

.content-tab-pane .tab:disabled {
    -fx-scale-x: 0;
    -fx-scale-y: 0;
    -fx-pref-width: 0;
    -fx-pref-height: 0;
}

.content-tab-pane .tab .tab-label {
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 12.5;
}

.button-bar .button:disabled {
    -fx-opacity: 0.25;
}

.button-bar .button:hover {
    -fx-scale-x: 1.1;
    -fx-scale-y: 1.1;
}

.button-bar .button:pressed {
    -fx-scale-x: 0.9;
    -fx-scale-y: 0.9;
}